html, body {
	width: 100%;
	height: 100%;
	margin: 0;

/*
	overflow: hidden;
	display: block;
*/
}

div#buttons {
	margin-top: 2px;
	margin-left: 10px;
}

div#buttons > span {
	border: 1px solid black;
	padding: 0 3px;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#status_container {
	position: fixed;
	width: 100%;
	bottom: 0;
}

div#status_bar {
	width: 100%;
	height: 1em;

	font-size: x-small;
	font-family: monospace;
	padding: 2px 7px;

	background-color: black;
	color: white;
}
